body {
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
    overflow-x: hidden;
}

.header {
    width: 100vw;
    height: 50px;
    background-color: black;
}

.header a {
    color: white;
}
