
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Test page">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Hampus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Page</title>
    <link rel="stylesheet" href="~/Content/Stylesheet/gridStyle.css">
</head>
<body>
    <div class="header">
        @{Html.RenderAction("Menu");}
    </div>

    <div class="grid-container">
        <div class="grid-cild1"></div>
        <div class="grid-cild2"></div>
        <div class="grid-cild3"></div>
        <div class="grid-cild4"></div>
        <div class="grid-cild5"></div>
        <div class="grid-cild6"></div>
        <div class="grid-cild7"></div>
        <div class="grid-cild8"></div>
        <div class="grid-cild9"></div>
    </div>


</body>
</html>